.range-slider {
  width: 100%;

  &-title {
    color: #000;
    font-size: 16px;
    line-height: 20px;
    font-weight: 500;
    margin-top:4px;
    margin-bottom: 4px;
  }

  &-header {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: space-between;
    margin-bottom: 8px;
    height: 22px;
  }

  &-value {
    color: #000;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;

    .icon {
      font-size: 12px;
      margin-left: 4px;
    }

    span {
      padding-left: 4px;
    }
  }

  .range-body {
    position: relative;
    height: 5px;
    background: #d9d8e0;
    margin-bottom: 35px;
  }

  &-info {
    position: absolute;
    top: -40px;
    left: 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
    color: #000;

    .icon {
      font-size: 11px;
      margin-left: 5px;
    }
  }

  .ui-slider-range {
    height: 5px;
    background: #d9d8e0;
    position: absolute;
  }

  .ui-widget-header {
    height: 5px;
    background: #8f89b9;
    position: absolute;
  }

  .ui-slider-handle {
    display: block;
    position: absolute;
    margin-top: -8px;
    width: 20px;
    height: 20px;
    outline: none;

    &-left {
      left:0;
    }

    &-right {
      right:0;
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      background: rgb(64, 59, 98);
      cursor: pointer;
      top: 0;
      left: 0;
    }
  }
}
