<div class="range-slider" *ngIf="isLoading">
    <div *ngIf="_options.title" class="range-slider-title">{{_options.title}}</div>
    <div class="range-slider-header">
        <div class="range-slider-value">{{_sliderOptions && _sliderOptions.value && toInt(_sliderOptions.value[0])}}<span [innerHTML]="_options.typeValue"></span></div>
        <div class="range-slider-value">{{_sliderOptions && _sliderOptions.value && toInt(_sliderOptions.value[1])}}<span [innerHTML]="_options.typeValue"></span></div>
    </div>
    <div class="range-body ui-slider ui-corner-all ui-slider-horizontal ui-widget ui-widget-content">
        <div
              class="ui-slider-range ui-corner-all ui-widget-header" style="left: 0; width: 100%;"
             [ngStyle]="{left: _sliderOptions.moveLeft + 'px', width: _sliderOptions.widthStyle + 'px'}">
        </div>
        <span
              class="ui-slider-handle ui-corner-all ui-state-default ui-slider-handle-left"
              [ngStyle]="{left: _sliderOptions.moveLeft+'px'}">
        </span>
        <span
              class="ui-slider-handle ui-corner-all ui-state-default ui-slider-handle-right"
              [ngStyle]="{left: _sliderOptions.moveRight+'px'}">
        </span>
    </div>
</div>
